# Build and Release Folders
bin/
bin-debug/
bin-release/

# Other files and folders
.settings/

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
/fla/PigPuzzle-app.xml
/fla/Main.swf
/fla/Main-app.xml
/fla/PigPuzzle.swf
/fla/Main.apk
/fla/Borbela-app.xml
/fla/Borbela.swf
